table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tbody tr:nth-child(even) {
    background-color: #f3e7e7;
}

th {
    background-color: #04AA6D;
    color: #ffffff;
}

tbody tr:hover {
    background-color: #8a7eef;
}