/* Contoh penggunaan margin */
.box {
  margin-top: 20px;
  margin-right: 15px;
  margin-bottom: 20px;
  margin-left: 15px;
}


.box {
  margin: 20px 15px; /* atas/bawah 20px, kiri/kanan 15px */
}
