p {
    color: rgb(174, 47, 237);
    text-align: center;
    text-shadow: rgb(142, 142, 142) 0.1em 0.1em 0.2em;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

tr:nth-child(even) {
    background-color: #0df1cb;
}

th {
    background-color: #0a7240;
    color: white;
}

td:hover {
    background-color: rgb(136, 255, 0);
}