table {
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;

}
.table {
    border-collapse: collapse;
    font-size: 13px;
}
.table th,
.table td {
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    padding: 9px 21px;
}
.table th,
.table td:last-child {
    border-right: 1px solid #cccccc;
}
.table td:first-child {
    border-top: 1px solid #cccccc;
}
caption {
    caption-side: top;
    margin-bottom: 10px;
    font-size: 16px;
}

.table thead th {
    background-color: #2ecd71;
    color: #ffffff;
}